.publicidad-container {
    background: linear-gradient(to right, #FFD700, #FF4500);
    color: #fff;
    text-align: center;
    padding: 8px;
  }
  
  .publicidad-container p {
    font-weight: bold;
    margin: 0;
  }
  