<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Inicia sesión en Guesar Facts</title>
  <link rel="stylesheet" href="formulario.component.scss">
</head>
<body>
    
  <div class="contenedor">
    <button class="btnHome"routerLink="/main" style="border: none; background: none; margin-bottom: 10px;">Home</button>
    <div class="titulo">Inicia sesión en Guesar Facts</div>
    
    <button class="continuar-google">Continuar con Google</button>

    <div class="separador"></div>

    <div class="input-container">
      <input type="text" placeholder="Correo electrónico">
    </div>

    <div class="input-container">
      <input type="password" placeholder="Contraseña">
    </div>

    <div class="olvidado">
      <a href="#">¿Has olvidado tu contraseña?</a>
    </div>

    <button class="entrar">Entrar</button>
  </div>
  
</body>
    <div class="mitad-derecha">
        <img src="../../../assets/pexels-ivan-dražić-15924771.jpg">
    </div>
</html>

