/* Estilos generales que se aplicarán en ambos dispositivos */
body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.contenedor {
    text-align: center;
}

.texto-centrado {
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 36px;
}

.bloque {
    display: inline-block;
    padding: 20px;
    margin-bottom: 10px;
    text-align: center;
}

.primer_texto {
    font-size: 20px;
}

.texto-grande {
    font-size: 32px;
    font-weight: bold;
}

.texto-azul {
    font-size: 18px;
    color: blue;
    font-weight: bold;
}

/* Media Queries para dispositivos móviles */
@media only screen and (max-width: 768px) {
    .texto-centrado {
        font-size: 28px;
    }

    .primer_texto {
        font-size: 16px;
    }

    .texto-grande {
        font-size: 24px;
    }

    .texto-azul {
        font-size: 14px;
    }
}
