body {
    margin-bottom: 5%;
    margin-left: 5%;
    margin-right: 5%;
    font-family: Arial, sans-serif;
}

.contenedor {
    text-align: center;
    background-color: rgb(132, 187, 187);
    border-end-end-radius: 35%;
    border-start-start-radius: 35%;
    
}

.texto-centrado {
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 36px;
}

.bloque {
    display: inline-block;
    padding: 20px;
    margin-bottom: 10px;
    text-align: center;
}

.primer_texto {
    font-size: 20px;
}

.texto-grande {
    font-size: 32px;
    font-weight: bold;
}

.texto-azul {
    font-size: 18px;
    color: blue;
    font-weight: bold;
}
