<body>
    <div class="contenedor">
        <div class="titulo">
            <p class="texto-centrado">El último año en Guesar Facts</p>
        </div>
        <div class="bloque">
            <p class="primer_texto">se han unido</p>
            <p class="texto-grande">118.913</p>
            <p class="texto-azul">negocios</p>
        </div>
        <div class="bloque">
            <p class="primer_texto">se han facturado</p>
            <p class="texto-grande">15.999.999.999</p>
            <p class="texto-azul">mil millones de euros</p>
        </div>
        <div class="bloque">
            <p class="primer_texto">se han enviado</p>
            <p class="texto-grande">3.999.999</p>
            <p class="texto-azul">facturas</p>
        </div>
    </div>    
</body>

  