<nav class="navbar navbar-expand-lg bg-white">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"><img src="../../../assets/LOGO GUESAR FACTS.png" height="70px"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active font-weight-bold" aria-current="page" href="#">Home</a>
          </li>        
        </ul>
        <form class="d-flex" role="search">
          <div class="olvidado">
            <a href="#" routerLink="/main4" style="margin-right: 40px;">¿Has olvidado tu contraseña?</a>
          </div>
          <button class="btn btn-outline-success2" type="submit" routerLink="/main3" >Regístrate</button>
          <button class="btn btn-outline-success" type="submit" routerLink="/main2" >Inicia sesión</button>
        </form>
      </div>
    </div>
  </nav>