.btn-outline-success{
    color: white;
    font-weight: 600;
    background-color: rgb(62, 62, 255);

}

.navbar-brand{
    margin-left: 20px;
}

.bg-body-tertiary {
    background-color: white !important;
}

.navbar-nav .nav-link.active {
    font-weight: bold;
  }
