<!DOCTYPE html>
<html lang="es">
<head>
  <!-- Resto de las etiquetas head -->
  <link rel="stylesheet" href="body2.component.scss">
</head>
<body>

  <div class="div-grande">
    <h1 style="margin-bottom: 80px;">Funcionalidades que marcan la diferencia</h1>

    <div class="conjunto">
      <div class="contenido">
        <h2>Plantillas customizables</h2>
        <p>Más de 50 plantillas de facturas, presupuestos, proformas y otros documentos que puedes personalizar con tu marca y colores.</p>
        <button class="boton-azul">Ver más</button>
      </div>
      <div class="imagen">
        <img src="../../../assets/Fact1.png" alt="Imagen 1">
      </div>
    </div>

    <div class="conjunto">
      <div class="imagen">
        <img src="../../../assets/Fact2.png" alt="Imagen 2">
      </div>
      <div class="contenido">
        <h2>Múltiples formas de pago</h2>
        <p>Cobra más rápido, permite a tus clientes pagar online con tarjeta, Paypal o Stripe. También mediante transferencia o domiciliación bancaria.</p>
        <button class="boton-azul">Empieza a facturar</button>
      </div>
    </div>

    <div class="conjunto">
      <div class="contenido">
        <h2>Recordatorios automáticos de pago</h2>
        <p>Se acabó perseguir clientes, Holded enviará mensajes personalizados automáticamente cada vez que una factura de venta esté pendiente o vencida.*</p>
        <button class="boton-azul">Envía tu primera factura</button>
      </div>
      <div class="imagen">
        <img src="../../../assets/Fact3.png" width="10px" alt="Imagen 3">
      </div>
    </div>
  </div>


</body>
</html>
