body {
  margin: 0;
  padding: 0;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url('../../../assets/pexels-pixabay-53621.jpg') center/cover no-repeat;

}

.texto-centrado {
  text-align: center;
  color: #fb8c05;
  font-size: 6em;
  border-color: black;
  font-weight: 500;

}